<ul class="sidebar-menu">
  <li class="header">Menu</li>
  <!-- Optionally, you can add icons to the links -->
  <li id="das"><a href="/"><i class="fa fa-th-large"></i> <span>DashBoard</span></a></li>
  <li id="his"><a href="/history"><i class="fa fa-history"></i> <span>Historial</span></a></li>
  <li id="con"><a href="/consultas"><i class="fa fa-search"></i> <span>Consultas</span></a></li>
  <li id="per"><a href="/Permisos"><i class="fa fa-check-circle"></i> <span>Permisos</span></a></li>
  <li id="tax"><a href="/taxis"><i class="fa fa-taxi"></i> <span>Taxis</span></a></li>
  <li id="zon"><a href="/zonas"><i class="fa fa-crosshairs"></i> <span>Zonas</span></a></li>
  <li id="not"><a href="/notificaciones"><i class="fa fa-paper-plane"></i> <span>Notificaciones</span></a></li>
  <li id="pro"><a href="/profile"><i class="fa fa-user"></i> <span>Perfil</span></a></li>

  <li id="aju" class="treeview">
    <a href="/"><i class="fa fa-cogs"></i> <span>Ajustes</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li id="aUse"><a href="/ajustes/users"><i class="fa fa-users"></i>Usuarios</a></li>
      <li id="aLog"><a href="/ajustes/logs"><i class="fa fa-info"></i>Logs</a></li>
    </ul>
  </li>
<ul>
