<ul class="sidebar-menu">
  <li class="header">Menu</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a href="/"><i class="fa fa-th-large"></i> <span>DashBoard</span></a></li>
  <li><a href="/history"><i class="fa fa-history"></i> <span>Historial</span></a></li>
  <li><a href="/Permisos"><i class="fa fa-check-circle"></i> <span>Permisos</span></a></li>
  <li><a href="/taxis"><i class="fa fa-taxi"></i> <span>Taxis</span></a></li>
  <li><a href="/zonas"><i class="fa fa-crosshairs"></i> <span>Zonas</span></a></li>
  <li><a href="/profile"><i class="fa fa-bullseye"></i> <span>Perfil</span></a></li>

  <li class="treeview active">
    <a href="/"><i class="fa fa-cogs"></i> <span>Ajustes</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/ajustes/users"><i class="fa fa-user"></i>Usuarios</a></li>
      <li><a href="/ajustes/logs"><i class="fa fa-info"></i>Logs</a></li>
    </ul>
  </li>
<ul>
