<ul class="sidebar-menu">
  <li class="header">Menu</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a href="/"><i class="fa fa-link"></i> <span>DashBoard</span></a></li>
  <li><a href="/history"><i class="fa fa-link"></i> <span>Historial</span></a></li>
  <li><a href="/Permisos"><i class="fa fa-link"></i> <span>Permisos</span></a></li>
  <li><a href="/taxis"><i class="fa fa-link"></i> <span>Taxis</span></a></li>
  <li><a href="/zonas"><i class="fa fa-link"></i> <span>Zonas</span></a></li>
  <li><a href="/profile"><i class="fa fa-link"></i> <span>Perfil</span></a></li>

  <li class="treeview">
    <a href="/"><i class="fa fa-link"></i> <span>Ajustes</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="/users">Usuarios</a></li>
      <li><a href="/logs">Logs</a></li>
    </ul>
  </li>
<ul>
