<div class="wrapper">

  <%- partial ('../partials/header') %> <!-- Main Header -->
  <%- partial ('../partials/main-sidebar') %> <!-- Left side column. contains the logo and sidebar -->

  <div class="content-wrapper"> <!-- Content Wrapper. Contains page content -->

    <section class="content-header"> <!-- Content Header (Page header) -->
      <h1>
        Consultar datos.
        <small></small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Consultas</li>
      </ol>
    </section> <!-- /. Content Header (Page header) -->

    <section class="content"> <!-- Main content -->

      <!-- Your Page Content Here -->
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Consultas</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <!-- <div class="row">
                  <div class="col-sm-6">
                    <div class="dataTables_length" id="example1_length">
                      <label>Show
                      <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        </select> entries
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div id="example1_filter" class="dataTables_filter">
                      <label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="example1"></label>
                    </div>
                  </div>
                </div> -->
                <div class="row">
                  <div class="col-sm-12">
                    <table id="zonasTaxisList" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="Lista de zonas">
                      <thead>
                        <tr role="row">
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 65px;">#</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 100px;">Activo</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 120px;">Identicación</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 512px;">Placa</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 200px;">Ciudad</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 200px;">Turno</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 200px;">Horario</th>
                          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="example" style="width: 200px;">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">usando la libreria D3 o la que ofrece adminLte</div>
      </div>

    </section> <!-- /.content -->
  </div> <!-- /.content-wrapper -->

  <%- partial ('../partials/footer') %> <!-- Main Footer -->
  <%- partial ('../partials/control-sidebar') %> <!-- Control Sidebar -->

</div>
