@import '_colors' // importando colores

.preloadingHtml
  width: 100%
  height: 100%
  position: absolute
  z-index: 10000
  background: currentColor
  opacity: 1
  display: flex
  align-items: center
  justify-content: center

.contentPage
  background-color: #FFF
  margin-top: 25px
  min-height: 200px

.itemWhitPage
  display: inline-flex
  line-height: 30px

.btn-float
  position: absolute
  right: 25px
  bottom: 75px
  border-radius: 50%

pre.infoZonas
  padding: inherit
  margin: inherit
  font-size: inherit
  line-height: inherit
  color: black
  border: 0px
  background: transparent
