<div class="modal fade" id="modalAddForm" tabindex="-1" role="dialog" aria-labelledby="modalAddForm">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">

      <!-- Header Modal -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="addTitle">Nueva Zona</h3>
      </div>

      <!-- Contenido del modal -->
      <div class="modal-body">




          <input type="hidden" name="_csrf" id="_csrf" value="<%= _csrf %>" />

          <div class="row col-md-12">
            <p>* Campos Obligatorios</p>
          </div>

          <br>
      </div>

      <!-- Footer del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="addNewZona">Añadir Zona</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
